{:hook('header')} 

<link rel="stylesheet" type="text/css" href="__PLUGS__/font-awesome/css/font-awesome.min.css"/>
<include file = 'Picker/index'/>   

<div class="sidebar">
    <include file = 'Owner/sidemenu'/>   
</div>
<div id="main-content" style="margin-left: 200px;margin-top: 50px">
    <div class="main" style="min-height: 483px;">    
		<div class="showlist">
			<div class="main-title">
				<h2>待审核</h2>
			</div>
		    <div class="cf">
				<div class="fl ss">
		            <button class="btn ajax-post btn_agree" >同 意</button>
				</div> 
				
				<!-- 高级搜索 -->
				<div class="search-form fr cf">
					<div class="sleft">
						<div class="drop-down">
							<span id="sch-sort-txt" class="sort-txt" style='margin-right: -3px;'>日 期</span>
							<i class="fa fa-calendar-check-o"></i>
						</div>
						<input type="text" name="time" class="search-input" id='time' value="" placeholder="点击选择日期">

						<a class="sch-btn" href="javascript:;" id="search" url="/OneThink/admin.php?s=/article/index/pid/0"><i class="btn-search"></i></a>
					</div>
		            <div class="btn-group-click adv-sch-pannel fl fls">
		                <button class="btn">搜 索<i class="fa fa-support" style='margin-left: 8px;'></i></button>
		            </div>
				</div>
			</div>
    		<!-- 数据列表 -->
   	 		<div class="data-table table-striped">
				<table>
	    		<!-- 表头 -->
				    <thead>
				        <tr>
				            <th class="row-selected row-selected">
				                <input class="check-all" type="checkbox">
				            </th>
				            <th>编号</th>
				            <th>姓名</th> 
				            <th>昵称</th>
				            <th>手机号</th>
				            <th>路线</th>
				            <th>车型</th>
				            <th>人数</th>
				            <th>备注</th>   
				            <th>日期 </th>      
				            <th>操作</th>   
				        </tr>
				    </thead>
		
				    <!-- 列表 -->
				    <tbody>
				    	<foreach name="data" item="vo">
				        <tr>
					        <td><input class='ids' type="checkbox" data-from='{$vo.from.proname}' data-to='{$vo.to.proname}' value="{$vo.id}" name="ids"></td>
					        <td>{$vo.id}</td>  
					        <td>{$vo.user.name}</td> 
					        <td>{$vo.user.nickname}</td> 
					        <td>{$vo.user.phone}</td> 
					        <td>{$vo.from.proname}-{$vo.to.proname}</td> 
					        <td>{$vo.carmodel}</td> 
					        <td>{$vo.count}人</td> 
					        <td style='max-width: 200px;'>{$vo.note}</td> 
					        <td>{$vo.time|date='Y-m-d H:i',###}</td>     
					        <td>  
					        	<if condition="$vo.time lt time()"> <a href="javascript:void(0)" style='color: #000;font-size: 12px;' >已过期</a>
								<else />
								<a class='agree' href="javascript:void(0)" data-id='{$vo.id}' data-from='{$vo.from.proname}' data-to='{$vo.to.proname}'>同意</a> 
					        	<a class='refused' href="javascript:void(0)" data-id='{$vo.id}' data-from='{$vo.from.proname}' data-to='{$vo.to.proname}'>禁止</a>
								</if>
					        	<a href="javascript:void(0)" class='show' data-id='{$vo.id}' >查看</a>
					        </td> 
					        <input type='hidden' class='debug' value='<if condition="$vo.time gt time()">  -1
					        <else />  1
					        </if>' />
					        </tr>
				        </foreach>
				    </tbody>
				</table>
			</div>
	    	<div class="page">
	    		{$show}
	    	</div>
		</div>
    </div>
</div>

<script type="text/javascript">
	$('.check-all').change(function(){		//check的点击事件
		var check = $(this).is(':checked');	//判断是否选中
		if(check) {							//如果没选中，点击时执行全选
			$('.ids').prop("checked",true);
		}else {								//如果已选中，点击时执行全不选
			$('.ids').prop("checked",false);
		}
	});
	
	var cix = 0;
	var length = '{$pagecount}';

	$('input[name="ids"]:checkbox').change(function(){
		var check = $(this).is(':checked');
		if(check) { 
			cix ++ ;
		}else {
			cix -- ;
		}
		if(cix == length) {
			$('.check-all').prop("checked",true); 
		}else {
			$('.check-all').prop("checked",false); 
		}
	});
	
</script>

<script type="text/javascript">
	$('.agree').click(function() {
		var id = $(this).attr('data-id');
		var url = '__CONTROLLER__/agree';
		var from = $(this).attr('data-from');
		var to = $(this).attr('data-to');
		var string = '你将同意' + from + '到' + to + '的车辆发布？';
		
		layer.confirm(string, {icon: 3, title:'提示'}, function(){
		  	$.get(url, {id:id}, function(data){
				if(data.status){
				 	layer.msg(data.info, {icon: 1}, function() {
					  	window.location.href = '{:U("Owner/complete")}';
					});
				}else {
					
				}
			},'json');
		});
	})
	$('.refused').click(function() {
		var id = $(this).attr('data-id');
		var url = '__CONTROLLER__/refuse';
		var from = $(this).attr('data-from');
		var to = $(this).attr('data-to');
		layer.prompt({title: '输入车辆禁止发布的原因', formType: 2, value:'经审核：'}, function(text, index){
		  	$.post(url, {id:id,rtext:text}, function(data){
				if(data.status){
					layer.close(index);
				 	layer.msg(data.info, {icon: 1,time : 1000}, function() {
					  	window.location.href = '{:U("Owner/rejected")}';
					});
				}else {
					layer.msg(data.info, {
                        icon: 2,
                        time: 1500,
                        shift:6,
                        shade:0.3,
                    });
				}
			},'json');
		});
	})
</script>

<script type="text/javascript">  
	$('.ss').click(function() {
		var ids = new Array();
		var strings = '你将同意<br />';
		var flag = 1;
		$('input[name="ids"]:checkbox:checked').each(function(i){
			
			var debug = $('.debug').eq(i).val();
			if(debug == -1) {
				flag = 0;
			}
			
			ids[i] = $(this).val();
			strings = strings + $(this).attr('data-from') + '-' + $(this).attr('data-to') + '<br />';
		});
		strings += '的车辆发布？';
		
		if(flag == 0) {
			layer.msg('不能选择过期的路线', {
                icon: 2,
                time: 1500,
                shift:6,
                shade:0.3, 
            });
		}else if(ids.length == 0) {
			layer.msg('请选择你要发布的路线', {
                icon: 2,
                time: 1500,
                shift:6,
                shade:0.3, 
            });
		}else {
			layer.confirm(strings, {icon: 3, title:'提示'}, function(){				
			  	$.get('__CONTROLLER__/agrees', {id:ids}, function(data){
					if(data.status){
					 	layer.msg(data.info, {icon: 1}, function() {
						  	window.location.href = '{:U("Owner/complete")}';
						});
					}else {
						layer.msg(data.info, {
	                        icon: 2,
	                        time: 1500,
	                        shift:6,
	                        shade:0.3,
	                    });
					}
				},'json');
			});
		}
	});
</script>  

<script type="text/javascript">
	$('.show').click(function() {
		var id = $(this).attr('data-id');
		layer.open({
			type: 2,
			title: '',
			shadeClose: true,
			shade: 0.8,
			area: ['80%', '90%'],
			content: '__CONTROLLER__/show/id/'+id, 
		});
	});
</script>

<script type="text/javascript">
    $('#time').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
	    minView:2,
	    autoclose:true
    });
</script>


<script type="text/javascript">
	$("#search").click(function(){
        var time  = $('.search-form').find('input').val();
       	if(time == '') {
       		layer.msg('请先选择日期', {
                icon: 2,
                time: 2000,
                shift:6,
                shade:0.3,
            });
       	}else {
       		window.location.href = '__CONTROLLER__/index/time/'+time;;
       	}
	});
	$(".bgcom").click(function(){
        var time  = $('.search-form').find('input').val();
       	if(time == '') {
       		layer.msg('请先选择日期', {
                icon: 2,
                time: 2000,
                shift:6,
                shade:0.3,
            });
       	}else {
       		window.location.href = '__CONTROLLER__/index/time/'+time;;
       	}
	});
</script>